
@{
    ViewData["Title"] = "Send";
}

@using (Html.BeginForm("Send", "Home"))
{
    <div class="form-group">
        <label for="userName">UserName</label>
        <input type="text" class="form-control" id="userName" name="userName">
    </div>
    <div class="form-group">
        <label for="message">Message</label>
        <input type="text" class="form-control" id="message" name="message">
    </div>
    <input class="btn btn-default" type="submit" value="发送消息">
}

