<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<!--xml智能提示-->
<!--1.通过下方的地址，打开网站，将xml文件拷贝下来-->
<!--2.点击菜单栏XML,创建架构-->
<!--3.将拷贝下来的xml内容复制进去，文件名必须与NLog.xsd一致-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="logs\console-example-internal.log"
      internalLogLevel="Info" >

  <!--日志目标-->
  <targets>
    <!-- write logs to file -->
    <!--时间、日志级别、文件大小共同构建的日志分卷配置-->
    <target xsi:type="File" name="target1" fileName="logs\${shortdate}\${level}.log" archiveAboveSize="1024"
            layout="${date}|${level:uppercase=true}|${message} ${exception}|${logger}|${all-event-properties}" />
    <target xsi:type="Console" name="target2"
            layout="${date}|${level:uppercase=true}|${message} ${exception}|${logger}|${all-event-properties}" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--*表示所有目标-->
    <logger name="*" minlevel="Trace" writeTo="target1,target2" />
  </rules>
</nlog>